<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Ratas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['curso', idCurso]">Curso com Id</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <p>Digite o id do Curso</p>
  <input [(ngModel)]="idCurso">
  <router-outlet></router-outlet>
</div>

